@import '../../styles/media.scss';

.container {
  margin: 50px 0;
  @include md {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 20px;
    max-width: 800px;
  }
}

.firm {
  font-size: var(--fs-large);
  color: var(--grey);
  line-height: var(--lh-base);
}

.desc {
  padding: 10px;
  font-size: var(--fs-medium);
  color: var(--grey);
  line-height: var(--lh-base);
  border-bottom: 1px solid var(--grey);
  @include md {
    padding: none;
    border-bottom: none;
  }
}
