.whiteButton {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 50px;
  font-size: var(--fs-medium);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--darkGrey);
  border-radius: 25px;
}

.whiteButton:hover,
.whiteButton:focus {
  background-color: var(--grey);
}

.whiteButton:active {
  background-color: var(--redish);
}

.whiteButton:disabled {
  color: var(--black);
  background-color: var(--whiteish);
}
