@import '../../styles/media.scss';

.content {
  @include md {
    position: relative;
    flex-direction: row;
  }
}
.homeFigure {
  display: none;
  @include md {
    z-index: 200;
    position: absolute;
    // right: -260px;
    // top: 70px;

    right: 0;
    top: -220px;
    margin-top: 40px;
    padding: 0 30px;
    display: flex;
    height: 400px;
  }
  @include lg {
    height: 450px;
    // right: 500px;
    // top: 70px;
    right: -100px;
    top: 70px;
  }

  @include xl {
    height: 550px;
  }
}

.bioFigure {
  display: none;
  @include md {
    z-index: 200;
    position: absolute;
    right: 0;
    top: -220px;
    margin-top: 40px;
    padding: 0 30px;
    display: flex;

    height: 400px;
  }
  @include lg {
    height: 450px;
  }
  @include xl {
    height: 550px;
  }
}

.projektyFigure {
  display: none;

  @include md {
    z-index: 200;
    display: flex;
    position: absolute;
    top: -400px;
    right: 0;
    height: 600px;
  }
  @include lg {
    height: 800px;
  }
  @include xl {
    height: 900px;
  }
}

.containerChildren {
  padding: 100px 10%;
  overflow: hidden;
  @include sm {
    padding: 240px 10%;
  }
}
