@import '../../styles/media.scss';

.heading {
  margin-bottom: 39px;
  padding-bottom: 12px;
  display: inline-block;
  color: var(--grey);
  font-size: var(--fs-big);
  font-weight: bold;
  letter-spacing: 0;

  border-bottom: 1px solid var(--grey);
  line-height: var(--lh-normal);
  @include md {
    font-size: var(--fs-extra-large);
    line-height: var(--lh-superextra-large);
  }
}

.headingDesc {
  width: 100%;
  font-weight: 400;
  letter-spacing: 0;
  color: var(--grey);
  @include md {
    font-size: var(--fs-medium);

    line-height: var(--lh-extra-large);

    max-width: 70%;
  }
}

.contentFormBackground {
  background: url('/images/ksztHomeContact.png');
  background-repeat: no-repeat, repeat;
  background-position: right -118px bottom -23px;
  background-size: 62%;
  min-height: 100vh;
}

.mobileFigure {
  width: 400px;
  height: 400px;
}

.containerForm {
  padding: 0 30px;
  border-left: 1px solid var(--grey);
}

.contentForm {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.inputs {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  @include md {
    padding: 70px 30px 0 30px;
  }
}

.buttonSend {
  margin-top: 50px;
  margin-bottom: 40px;

  @include md {
    align-self: flex-end;
    margin-bottom: 0;
  }
}

.item {
  margin: 10px 0;
  color: var(--grey);
  font-size: var(--fs-medium);
  line-height: var(--lh-extra-large);
  font-weight: bold;
  letter-spacing: 0;
  background-color: var(--darkGrey);
  border-style: none;
  border-bottom: 1px solid var(--grey);
  @include md {
    padding-right: 60px;
  }
}

.item::placeholder {
  color: var(--white);
}

.error {
  color: red;
  font-weight: lighter;
  font-size: var(--fs-medium);
}
