@import '../../styles/media.scss';

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  padding: 10px 0;
  text-transform: uppercase;
  color: var(--white);
  font-size: var(--fs-extra-medium);
  text-align: center;
  @include md {
    padding: 0 0 10px 134px;
    font-size: var(--fs-large);
  }
}

.crossOutLine {
  @include md {
    position: absolute;
    top: 40px;
    display: flex;
    justify-self: flex-start;
    height: 1px;
    width: 100%;
    color: var(--white);
    animation: pulse 3s linear infinite alternate, nudge 5s linear infinite alternate;
    background-color: var(--white);
    animation-name: crossOutLine_animation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    transition-property: width;
  }
}

@keyframes crossOutLine_animation {
  from {
    width: 0%;
    margin-left: -100%;
  }
  to {
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;

  @include md {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
  }
}

.contentVerticalLine {
  @include md {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 300px;
    grid-column-gap: 30px;
  }
}

.imgWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-row: 1/3;
  grid-column: 1/2;
}

.img {
  width: 369px;
  grid-row: 1/2;
  grid-column: 1/2;
}

.verticalLine {
  @include md {
    position: absolute;
    top: 0;
    grid-row: 2/3;
    grid-column: 1/2;
    height: 100%;
    width: 1px;
    color: var(--white);
    animation: pulse 3s linear infinite alternate, nudge 5s linear infinite alternate;
    background-color: var(--white);
    animation-name: verticalLine_animation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    transition-property: height;
  }
}

@keyframes verticalLine_animation {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.text {
  padding-top: 20px;
  padding-bottom: 80px;
  grid-row: 1/2;
  grid-column: 2/2;
  color: var(--grey);
  line-height: var(--lh-base);
}
