@import '../../styles/media.scss';

.container {
  z-index: 100;
  margin-top: 50px;
  position: sticky;
  top: 0;
  left: 0;
  padding: 21px 0;
  width: 100%;
  background-color: var(--darkGrey);
  @include md {
    margin-top: 100px;
    padding: 21px 30px;
  }
}

.content {
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item {
  margin-right: 26px;
  font-weight: 400;
  font-size: var(--fs-normal);
  letter-spacing: 0;
  line-height: var(--lh-extra-large);
  text-transform: uppercase;
  color: var(--grey);

  & a {
    padding-right: 10px;

    &:hover,
    &:focus,
    &:active {
      padding-bottom: 2px;
      border-bottom: 1px solid var(--grey);
    }
  }
  @include md {
    font-size: var(--fs-medium);
  }
}
