@import '../../styles/media.scss';

.container {
  margin-bottom: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projectBlock {
  width: 100%;

  @include md {
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: 60% auto;
    grid-column-gap: 30px;
  }
}

.projectBlock:nth-child(odd) {
  @include md {
    grid-template-columns: 60% auto;
    & .secondHorizontalLine {
      display: flex;
    }
  }
}

.projectBlock:nth-child(even) {
  align-self: flex-end;

  @include md {
    grid-template-columns: auto 60%;
    & .firstHorizontalLine {
      display: flex;
    }
  }
}

@keyframes line_animation {
  from {
    width: 0%;
    margin-right: -100%;
  }
  to {
    width: 100%;
  }
}

.line {
  margin-top: 80px;
  display: none;
  height: 1px;
  width: 100%;
  color: var(--white);
  animation: pulse 3s linear infinite alternate, nudge 5s linear infinite alternate;
  background-color: var(--white);
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  transition-property: width;
}

.secondHorizontalLine {
  composes: line;
  justify-self: flex-end;
  animation-name: secondHorizontalLine_animation;
}

@keyframes secondHorizontalLine_animation {
  from {
    width: 0%;
    margin-right: -100%;
  }
  to {
    width: 100%;
  }
}

.firstHorizontalLine {
  composes: line;
  justify-self: flex-start;
  animation-name: firstHorizontalLine_animation;
}

@keyframes firstHorizontalLine_animation {
  from {
    width: 0%;
    margin-left: -100%;
  }
  to {
    width: 100%;
  }
}

.projectBlock:nth-child(2) {
  @include md {
    & .firstHorizontalLine {
      display: flex;
      margin-top: -20px;
    }
  }
}
