@import '../../styles/media.scss';

.content {
  margin-top: 60px;
  @include md {
    margin-top: 0;
    display: flex;
  }
}

.subtitle {
  margin-right: 30px;
  padding-right: 10px;
  font-size: var(--fs-medium);
  color: var(--grey);
  text-transform: uppercase;

  @include md {
    border-right: 1px solid var(--grey);
  }
}

.bottomFigure {
  height: 600px;
}
