@import '../../styles/media.scss';

.diagonal {
  @include sm {
    z-index: 200;
    position: absolute;
    top: -300px;
    right: 200px;
    width: 1px;
    height: 600px;
    background-color: var(--grey);
    transform: rotate(138deg);
  }
}
