@import '../../styles/media.scss';

.container {
  margin: 0 20%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--grey);
}

.heading {
  font-size: var(---fs-small);
  color: var(--white);
  @include sm {
    font-size: var(--fs-normal);
  }
  @include md {
    font-size: var(--fs-extra-medium);
  }
}

.logo {
  padding: 5px;
  width: 30px;
  height: 30px;
  @include md {
    padding: 10px;
    width: 60px;
    height: 60px;
  }
}

.copywriter {
  font-size: var(--fs-small);
  color: var(--grey);
  @include sm {
    font-size: var(--fs-normal);
  }
  @include md {
    font-size: var(--fs-extra-medium);
  }
}
