@import '../styles/media.scss';

.hero {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  @include md {
    margin-bottom: 315px;
  }
}

.heading {
  font-weight: bold;
  font-size: var(--fs-big);
  color: var(--grey);
  @include md {
    font-size: var(--fs-extra-large);
    line-height: var(--lh-superextra-large);
  }
}

.paragraph {
  composes: heading;
  padding-bottom: 30px;
  font-size: var(--fs-normal);

  color: var(--grey);
  @include md {
    font-size: var(--fs-medium);
    line-height: var(--lh-base);
    max-width: 36%;
  }
}

.image {
  margin-top: 60px;
}
