@import '../../styles/media.scss';

.container {
  margin-bottom: 30px;
  @include md {
    margin-bottom: 115px;
  }
}

.title {
  padding-bottom: 2px;
  font-size: var(--fs-big);
  color: var(--grey);
  border-bottom: 1px solid var(--grey);
  @include md {
    font-size: var(--fs-extra-large);
  }
}

.titleWithMargin {
  composes: title;
  margin-right: 520px;
  @include md {
    margin-right: 20px;
  }
  @include lg {
    margin-right: 520px;
  }
}
