@import '../../styles/media.scss';

.container {
  display: flex;
  flex-direction: column;
}

.heading {
  font-weight: bold;
  font-size: var(--fs-big);

  color: var(--grey);
  @include md {
    font-size: var(--fs-extra-large);
    line-height: var(--lh-superextra-large);
  }
}

.desc {
  color: var(--grey);
  font-size: var(--fs-medium);
  @include md {
    padding-bottom: 280px;
    max-width: 700px;
  }
}

.blockContainer {
  margin-bottom: 112px;
}
