:root {
  --black: #000000;
  --darkGrey: #2b2c2d;
  --grey: #cccccc;
  --blueGrey: #dee6ef;
  --redish: #7b5d5d;
  --white: #ffffff;
  --whiteish: #ccc;
}

// .lightGrey {
//   color: var(--grey);
// }

// $grey: #2b2c2d;

// .greyBackground {
//   background-color: $grey;
// }
