@import './media.scss';

.container {
  position: relative;
  min-height: 100vh;
  padding: 100px 10%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  @include sm {
    padding: 240px 10%;
  }
}
