:root {
  // Font sizes

  --fs-extra-large: 4.88rem;
  --fs-large: 3.13rem;
  --fs-big: 2.5rem;
  --fs-extra-medium: 1.81rem;
  --fs-medium: 1.25rem;
  --fs-normal: 1rem;
  --fs-small: 0.875rem;

  // Line heights
  --lh-superextra-large: 6.25rem;
  --lh-extra-large: 1.63;
  --lh-large: 1.08;
  --lh-big: 1.3;
  --lh-medium: 1.33;
  --lh-base: 1.38;
  --lh-normal: 1.6;
}

// .bold {
//   font-weight: bold;
//   font-size: 4.88rem; font-size: var(--fs-extra-large);
//   letter-spacing: 0;
//   line-height: 6.25rem;  line-height: var(--lh-superextra-large);
// }

// .midddlebold {
//   font-weight: bold;
//   font-size: 2.25rem; font-size: var(--fs-medium);
//   letter-spacing: 0;
//   line-height: 1.63rem; line-height: var(--lh-extra-large);
// }

// .regular {
//   font-weight: 400;
//   font-size: 1.25rem; font-size: var(--fs-medium);
//   letter-spacing: 0;
//   line-height: 1.63rem; line-height: var(--lh-extra-large);
// }

// .smallBold {
//   composes: bold;
//   font-size: 3.12rem;
// }

// .headling {
//   font-weight: bold;
//   font-size: 3.12rem;
//   letter-spacing: 0;
//   line-height: 4.06rem;
// }

// .name {
//   composes: headingXl from '../../styles/utils.module.scss';
//   display: none;
//   @include sm {
//     display: block;
//   }
// }
